html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}
body {
  margin-bottom: 100px;
  font-family:'PT Sans', sans-serif;
}
header {
  font-family: 'Finger Paint', cursive;
  margin-top: 25px;
  margin-bottom: 30px;
  color: #5f5e5f;
  font-style: italic;
  text-align: center;
}
h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.nav li {
  display: inline;
  
  font-size: 20px;
  text-align: center;
}
a {
  color: #FF9900;
  text-decoration: none;
}
a:hover {
  color: #245580;
  text-decoration: underline;
}
article {
  margin-left: 20px;
}
h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  color: #5f5e5f;
}
.float-image{
  float: left;
  margin: 0px 30px 50px 0px;
}
  ul {

    margin: 0;
    padding: 0;
  }
    li {
      display: inline;
      margin-right: 10px;
      font-weight: bold;
    }
.paragraph-margin{
  margin-bottom: 10px;
}
