html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}
/*html { 
  background-image: url(images/bobnmad.png);
  background-repeat: no-repeat;*/ 
}
/*body {
  height:100%;
  width:100%;
  background-image:url(images/bobnmad.png);/*your background image*/  

  /*background-color: #6a6464;*/
  /*background-color: white;*/
 /*background-color:#336600;  */
/* 
    background-image: url(images/05-white-brick.png);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center; 
    width: 630px;!
    height: 246px;
  }
*/

header {
    font-family: 'Finger Paint', cursive;
    margin-top: 25px;
    margin-bottom: 50px;
}
header h2 {
   font-family: 'Finger Paint', cursive;
   font-size: 50px;
   color: #5f5e5f;
   font-style: italic;
   text-align: center;
   margin-bottom: 20px;
}
header h3 {
   font-family: 'Finger Paint', cursive;
   font-size: 30px;
   color: #5f5e5f;
   font-style: italic;
   text-align: center;
}
header img {
  margin: 0 auto 0 auto;
  display: block;
}
.nav {
  list-style-type: none;
  text-align: center;
  margin: 25px 0px 25px 0px;
}
.nav li {
  display: inline;
  padding-right: 45px;
  font-size: 20px;
}
.nav a {
  color: #FF9900;
     font-family: 'Finger Paint', cursive;
}
/*div {
  float: left;
}
.displayed {
    display: block;
    margin-left: 10%;
    margin-right: 90%;
  }*/

img {
    max-width: 80%;
    height: auto;
    margin-left: 10%;
}
/*img {
    max-width: 5%;
    max-height: 5%;
    transform: scale(10);
    margin-left: 600px;
    margin-top: 150px;
}
.bounding-box {
  background-image: url("images/bobnmad.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.bounding-box {
  background-image: url("images/bobnmad.png");
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}*/