html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}
body {
  margin-bottom: 100px;
}
/*NAVIGATION BAR*/
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #FF9900;
}
.menu-items li {
  margin: 10px;
  display: inline-block;
}
.menu-items a {
  font-family: 'Finger Paint', cursive;
  color: white;
  font-size: 1.25em;
}
/* NAME & TITLE HEADER */
header {
  font-family: 'Finger Paint', cursive;
  margin-top: 75px;
  margin-bottom: 30px;
}
header h2 {
  font-size: 3em;
  color: #5f5e5f;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}
header h3 {
   font-size: 1.75em;
   color: #5f5e5f;
   font-style: italic;
   text-align: center;
}
header img {
  margin: 0 auto 0 auto;
  display: block;
}
/*Home: photo*/
.image-container {
  height: 30%;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
#image-pic {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
/*Home: paragraphs*/
.content {
  margin-top: 25px;
  margin-right: 28%;
  margin-left: 31%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  color: #5f5e5f;
}
.content p {
  margin-top: 10px;
  line-height: 200%;
}
#home-page-intro p::first-letter { 
  font-size: 200%;
}
/*Resume: technical skills & projects headings; title overrides this based on specificity*/
h3{
  text-align: center;
  margin-bottom: 15px;
}
/*Resume: skill subheadings*/
h4 {
  font-weight: bold;
}
/*Resume: skills*/
.resume_skills {
  font-family: 'Ubuntu', sans-serif;
  color: #5f5e5f;
}
/*Resume: experience*/
.resume_experience {
  font-family: 'Ubuntu', sans-serif;
  color: #5f5e5f;
  margin-top: 25px;
  text-align: center;
}
#resume_button {
  margin-bottom: 10px;
  color: #5f5e5f;
}
/*Portfolio: border around web page screen shot*/
#image-border {
  border: 1px black solid;
}
/*Portfolio: projects*/
.services.container {
  margin-top: -25px;
  font-family: 'Ubuntu', sans-serif;
  color: #5f5e5f;
}
.services.container p {
  width: 280px;
}
.services.container a {
  color: inherit;
}
.services.container a:hover {
  color: blue;
  text-decoration: none;
}
.services.container .row {
  margin-left: 5px;
}
/*Resume/Portfolio: skills & projects subcategories*/
.row {
  margin-top: 20px;
}


