html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}
body {
  margin-bottom: 100px;
  font-family:'PT Sans', sans-serif;
}
header {
  font-family: 'Finger Paint', cursive;
  margin-top: 25px;
  margin-bottom: 40px;
  color: #5f5e5f;
  font-style: italic;
  text-align: center;
}
h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.nav li {
  display: inline;
  padding-right: 45px;
  font-size: 20px;
  text-align: center;
}
.nav a {
  color: #FF9900;
  text-decoration: none;
}
.nav a:hover {
  color: #245580;
  text-decoration: underline;
}
.content h1 {
  font-family: 'Finger Paint';
  color: #5f5e5f;
  text-align: center;
  margin-bottom: 5px;
}
.content p {
  font-family: 'Finger Paint';
  text-align: center;
  margin-bottom: 20px;
  color: #5f5e5f;
}
/*.pagegradient {
  background-image:
        -webkit-gradient(
            radial, 
            50% -50, 
            300, 
            50% 0, 
            0, 
            from(rgba(230, 237, 241, 0)), 
            to(rgba(230, 237, 241, 0.8)));
    
  height:100%;
  left:0px;
  top:0;
  width: 600px;

}

.button {
    top: 100px;
    left: 200px;
    display: inline-block;
    margin: 0px 57% 30px 43%;
      float: left;
    
    -webkit-border-radius: 10px;
    
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;

} 

.button span {
    background-color: #E8E8E8;
      float: left;
    
    background-image: 
        /* gloss gradient */
        -webkit-gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
            color-stop(50%,rgba(255,255,255,0.3)), 
            color-stop(100%,rgba(255,255,255,0.2))),
        
        /* dark outside gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(210,210,210,0.3)), 
            color-stop(20%,rgba(210,210,210,0)), 
            color-stop(80%,rgba(210,210,210,0)), 
            color-stop(100%,rgba(210,210,210,0.3))),
        
        /* light inner gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(20%,rgba(255,255,255,0.5)), 
            color-stop(80%,rgba(255,255,255,0.5)), 
            color-stop(100%,rgba(255,255,255,0))),        
        
        /* diagonal line pattern */
        -webkit-gradient(
           linear, 
            0% 100%, 
            100% 0%, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(40%,rgba(255,255,255,0)), 
            color-stop(40%,#D2D2D1), 
            color-stop(60%,#D2D2D1), 
            color-stop(60%,rgba(255,255,255,0)), 
            color-stop(100%,rgba(255,255,255,0)));
  
        -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    
    display: inline-block;
    padding: 10px 40px 10px 40px;
    
    color: #5f5e5f;
    text-transform: uppercase;
 
    font-weight: 700;
    font-size: 24px;
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

        .button span:hover {
            color:  #FF9900;
            text-shadow: 0px -1px #97A63A;
            cursor: pointer;
        }

        .button:active {
            -webkit-box-shadow: 
                0px 3px rgba(128,128,128,1),
                0px 4px rgba(118,118,118,1),
                0px 5px rgba(108,108,108,1),
                0px 6px rgba(98,98,98,1),
                0px 7px rgba(88,88,88,1),
                0px 8px rgba(78,78,78,1),
                0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
        }

        .button:active span{
            -webkit-transform: translate(0, 5px); /* depth of button press */
        }

        .button span span::selection {
          color: #E8E8E8;*/

      }