html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}
body {
  margin-bottom: 100px;
}
header {
  font-family: 'Finger Paint', cursive;
  margin-top: 25px;
  margin-bottom: 25px;
}
header h2 {
  font-family: 'Finger Paint', cursive;
  font-size: 50px;
  color: #5f5e5f;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}
header h3 {
  font-family: 'Finger Paint', cursive;
  font-size: 30px;
  color: #5f5e5f;
  font-style: italic;
  text-align: center;
}
header img {
  margin: 0 auto 0 auto;
  display: block;
}
header li {
  margin-right: 10px;
  font-size: 20px;
}
header a {
  color: #FF9900;
}
.content {
    font-family:'PT Sans', sans-serif;
}
.text-center h3 {
  margin-top: 25px;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  .row ul {
  margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .row ul {
    margin-left: 15px;
  }
}
#experience {
  clear: left;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .paragraphs {
  margin: 0px 50px 20px 15px;
}
}
@media (min-width: 767px) and (max-width: 1401px) {
  .paragraphs {
    margin: 0px 150px 20px 150px;
  }
}
.paragraphs {
  margin-bottom: 25px;
}
#buttoncenter {
  text-align: center;
}
.butt-on{
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background:  #5f5e5f;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}
.butt-on:hover {
  background: #a8b0b5;
  text-decoration: none;
}
