html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}

.contact {
  background-color: #FFFFFF;
  text-align: center;
}

.contact li {
  padding-top: 30px;
}
.contact .content {
  margin-bottom: 400px;
}
.contact #horiz li {
  display: inline;
}

.about {
  background-color: #FFFFFF;
}
.about .header {
  text-align: center;
  margin-bottom: 25px;
}
.about .header h2 {
  color: #FFFFFF;
}
.about .header li {
  display: inline;
  margin-left: 10px;
  margin-right: 20px;
}
.about .header ul {
  margin-left: 0px;
}

.about .header a {
  color: #669900;
}

.about .header a:hover {
  color: blue;
}
.about .content h3 {
  width: 60%;
  margin-left: 25%;
  margin-bottom: 25px;
}
.about .content h4 {
  /*color: #FFFF00;*/
  color: #669900;
}
.about .content li {
  margin-left: 30px;
}
.about .content a {
  color: #669900;
}

.about .content a:hover {
  color: blue;
}

.about .content .boundary {
    border: 1px solid gray;
}
.techskills {
  background-color: #FFFFFF;
  text-align: center;
}
.techskills .spacing {
  margin-top: 15px;
}
.techskills .container {
    /*border: 1px solid black;*/
}
.techskills #horiz {
  margin-top:30px;
}
.techskills #horiz li {
  display: inline;
  padding-right: 15px;
}
